{% extends 'base.html' %}
{% block title %}Your account{% endblock title %}
{% block body %}
{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<style>
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5; /* Light gray background */
  }
  
  .custom-card {
    border-radius: 20px;
    background-color: #ffffff; /* White card background */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .info-section {
    flex: 1;
  }
  
  .image-section {
    width: 100%; /* Full width for both sections on smaller screens */
    text-align: center;
    flex: 1;
    text-align: right;
  }
  
  .user-image {
    width: 270px; /* Adjust the size as needed */
    height: auto;
    border: 5px solid #555;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  .btn-spacing {
    margin-right: 10px;
  }
  
  .custom-heading {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  
  .btn-dynamic {
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn-dynamic:hover {
    transform: scale(1.05);
  }
  .custom-input {
  border: 1px solid #ccc;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 10px;
  width: 20%; /* Adjust the width as desired */
  transition: border-color 0.3s ease-in-out;
  width: 100%;
}

.custom-input:focus {
  border-color: #007bff;
  outline: none;
}

.link-animation {
  animation: animate__animated animate__fadeInUp; /* Add the desired animation class */
}

  /* Add animation for modal popup */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #f5b0b0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: modal-anim 0.3s ease-out;
  }
  @media screen and (min-width: 768px) {
    /* Styles for screens larger than 768px (tablets and laptops) */
    .custom-card {
      flex-direction: row; /* Display elements side by side on larger screens */
    }

    .info-section {
      width: 60%; /* Adjust the width as needed */
    }

    .image-section {
      width: 40%; /* Adjust the width as needed */
    }
  }


  @keyframes modal-anim {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }
</style>

<script src="{% static 'account.js' %}"></script>

<div id="non-animation">
  <div class=" alert alert-primary" style="display:none;" id="currency_change">Your currency has been changed</div>
  <div class="alert alert-primary" style="display:none;" id="pwd_change_alert">Your password has been changed</div>
  <div class="alert alert-primary" style="display:none;" id="t_list_erase">Your transaction history was deleted</div>

  <div id="main" class="custom-card bg-light-subtle bg-opacity-50">
    <div class="info-section">
      <h1 class="display-4 text-info-emphasis custom-heading">Your Account Information</h1>
      {% if warning %}
      <div class="alert alert-warning mt-4">{{ warning }}</div>
      {% endif %}
      {% if warning2 %}
      <div class="alert alert-warning mt-4">{{ warning2 }}</div>
      {% endif %}
      <ul class="list-unstyled mt-4">
        <li class="h4 text-dark">Name: <span class="text-info">{{ user.name }}</span></li>
        <li class="h4 text-dark">Balance: <span class="text-info">{{currency_symbol}}{{ user.bank_balance }}</span></li>
        <li class="h4 text-dark">Username: <span class="text-info">{{ user.username }}</span></li>
        <li class="h4 text-dark">Currency: <span class="text-info">{{ currency }} ({{currency_symbol}})</span></li>
      </ul>

      <a class="btn btn-primary btn-spacing btn-dynamic" href="{% url 'main:index' %}">Go back</a>
      <a class="btn btn-success btn-spacing btn-dynamic" href="{% url 'main:transaction_list' %}">See transaction history</a><br><br>
      <button class="btn btn-warning  text-white btn-spacing btn-dynamic" onclick="show_pwd_form()">Change Password</button>
      <button style="background-color:#eb97f7" class="btn text-white btn-spacing btn-dynamic"  onclick="show_currency_form()">Change Currency</button>

      <br>
      <br>
      <a style="background-color:#f68484;" class=" text-white btn btn-spacing btn-dynamic" href="{% url 'main:logout' %}">Logout</a>
      <br><br>
      <button onclick="WarningPopup1()" class="btn-danger btn">Delete your account</button>
<div class="modal" id="popUp1">
  <form action="{% url 'main:delete_account' %}" method="post">
    {% csrf_token %}
    <div class="modal-content" id="myPopup1">
      <h1 class="text"><u>Warning</u> ⚠</h1>
      <h2 class="text">Are you sure that you want to delete this account</h2>
      <h4 class="text"> <b>THIS ACTION IS IRREVERSIBLE</b> </h4>
      <br>
      <input type="submit" value="Yes, Delete my account" name="submit" class="btn btn-primary shadow-lg">
      <br>
      <span onclick="cancel()" class="btn btn-success">No, Go Back</span>
    </div>
  </form>
</div>
    </div>

    <div class="image-section">
      <img class="user-image" height=500  src="https://firebasestorage.googleapis.com/v0/b/discord-uploads.appspot.com/o/placeholder%20img.jpg?alt=media&token=1ac6563f-0d5f-47dc-bad9-222e89ed73c4" alt="User Image"> 
    </div>
  </div>

<div style="display:none;" id="pwd_form">
    <form action="{% url 'main:change_pwd' %}" method="post">
      {% csrf_token %}
      <div class="row align-items-center">
          <h1 class="font-weight-bold display-4 fw-bold" for="password" >New Password</h1>
          <input class="form-control rounded-4 custom-input" type="password" minlength="8" placeholder="Enter New Password" name="password" id="password" required>
          <div class="d-grid gap-2 d-md-block"><br><br>
          <button type="button" class="btn btn-danger  btn-spacing btn-dynamic" onclick="WarningPopup()">Change Password</button>
          <br><br>
          <button type="button" class="btn btn-secondary btn-dynamic" onclick="back()">Cancel</button>
          </div>
      </div>
      <div class="modal" id="popUp">
        <div class="modal-content">
          <h1 class="font-weight-bold text-danger">Warning ⚠</h1>
          <h2 class="font-weight-bold">Are you sure you want to change your password?</h2>
          <h4 class="font-weight-bold">This action is irreversible.</h4>
          <button type="submit" class="btn btn-primary shadow-lg btn-spacing btn-dynamic">Yes, Change It</button>
          <button type="button" class="btn btn-secondary btn-dynamic" onclick="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>



<div style="display:none;" id="currency_form">
    <form action="{% url 'main:change_currency' %}" method="post">
      {% csrf_token %}
      <div class="row align-items-center">
          <h1 class="font-weight-bold display-4 fw-bold" for="Currency">New Currency</h1>
          <label class="font-weight-medium h5" for="categorySelect">Choose your currency:</label></b>
                <select class="form-control rounded-4 mt-4 custom-input" id="currency" name="currency" required>
                    {% for category in currencies %}
                        <option id="{{ category }}" value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
                <div class="d-grid gap-2 d-md-block"><br>
                <button type="button" class="btn btn-danger btn-spacing btn-dynamic" onclick="WarningPopup2()">Change Currency</button>
                <br><br>
                <button type="button" class="btn btn-secondary btn-dynamic" onclick="back()">Cancel</button>
                </div>
              </div>
      <div class="modal" id="popUp2">
        <div class="modal-content">
          <h1 class="font-weight-bold text-danger">Warning ⚠</h1>
          <h2 class="font-weight-bold">Are you sure you want to change your Currency?</h2>
          <h4 class="font-weight-bold">This action is irreversible.</h4>
          <button type="submit" class="btn btn-primary shadow-lg btn-spacing btn-dynamic">Yes, Change It</button>
          <button type="button" class="btn btn-secondary btn-dynamic" onclick="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock body %}
