{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block body %}
{% if error %}
<div role="alert" class="alert alert-danger">{{ error }}</div>
{% endif %}
<form action="{% url 'main:logged_in' %}" method="post">
  {% csrf_token %}
  <h1 class="font-weight-bold display-4" style="font-family: 'Arial', sans-serif;">Login</h1>
  <div class="form-group">
    <label for="username" class="font-weight-medium h5">Username</label>
    <input class="form-control rounded-pill" type="text" placeholder="Username" name="username" id="username" required>
  </div>
  <div class="form-group">
    <label for="password" class="font-weight-medium h5">Password</label>
    <input class="form-control rounded-pill" type="password" placeholder="Password" name="password" id="password" required>
  </div>
  <br>
  <button class="btn btn-primary btn-lg rounded-pill animate__animated animate__fadeInLeft" type="submit">Login</button>
</form>
<br>
<p class="font-weight-medium"><a href="{% url 'main:signup' %}" style="color: blue;">Don't have an account yet? Signup</a></p>
<br>
{% endblock body %}